// Variables
$background-color: #1d1f21;
$text-color: #ffffff;
$game-bg-color: #2c3e50;
$button-bg-color: #e74c3c;
$button-hover-color: #34495e;
$option-bg-color: #34495e;
$option-hover-color: #1abc9c;
$option-selected-color: #3498db;
$font-stack: Arial, sans-serif;
$max-width: 600px;

// Global Styles
body {
    font-family: $font-stack;
    background-color: $background-color;
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; // Prevent scrolling
}

// Game Container
#game {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    box-sizing: border-box;

    #question {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    #current-count {
        font-size: 1.2em;
        margin-bottom: 3px; /* Reduced space */
        color: #01e701; /* Set amount won to green */
    }

    #lifeline-count {
        font-size: 1.2em;
        margin-top: 3px; /* Ensure there's no extra space added here */
        color: rgb(255, 0, 0); /* Set lifelines left to red */
    }

    .option {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid $option-bg-color;
        background: $option-bg-color;
        color: $text-color;
        cursor: pointer;
        border-radius: 4px;
        transition: background 0.3s ease;

        &.selected {
            background: $option-selected-color;
        }
    }

    button {
        margin-top: 20px;
        padding: 10px 20px;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        background: $button-bg-color;
        color: $text-color;
        font-size: 1em;
        transition: background 0.3s ease;

        &:hover {
            background: $button-hover-color;
        }
    }

    .hidden {
        display: none;
    }

    #question-image {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto 20px auto;
        border-radius: 8px;
    }
}


// Media Queries
@media (min-width: 769px) {
    .option:hover {
        background: $option-hover-color;
    }
}

@media (max-width: 768px) {
    #game {
        padding: 15px;

        #question {
            font-size: 1.1em;
        }

        button {
            padding: 8px 16px;
            font-size: 0.9em;
        }

        .option {
            padding: 8px;
        }
    }
}

@media (max-width: 480px) {
    #game {
        padding: 10px;

        #question {
            font-size: 1em;
        }

        button {
            padding: 6px 12px;
            font-size: 0.8em;
        }

        .option {
            padding: 6px;
        }
    }
}
