body {
  font-family: Arial, sans-serif;
  background-color: #1d1f21;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

#game {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}
#game #question {
  font-size: 1.2em;
  margin-bottom: 20px;
}
#game #current-count {
  font-size: 1.2em;
  margin-bottom: 0px; /* Reduced space */
  color: #01e701; /* Set amount won to green */
}
#game #lifeline-count {
  font-size: 1.2em;
  margin-top: 0px; /* Ensure there's no extra space added here */
  color: rgb(255, 0, 0); /* Set lifelines left to red */
}
#game .option {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #34495e;
  background: #34495e;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}
#game .option.selected {
  background: #3498db;
}
#game button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: #e74c3c;
  color: #ffffff;
  font-size: 1em;
  transition: background 0.3s ease;
}
#game button:hover {
  background: #34495e;
}
#game .hidden {
  display: none;
}
#game #question-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto 20px auto;
  border-radius: 8px;
}

@media (min-width: 769px) {
  .option:hover {
    background: #1abc9c;
  }
}
@media (max-width: 768px) {
  #game {
    padding: 15px;
  }
  #game #question {
    font-size: 1.1em;
  }
  #game button {
    padding: 8px 16px;
    font-size: 0.9em;
  }
  #game .option {
    padding: 8px;
  }
}
@media (max-width: 480px) {
  #game {
    padding: 10px;
  }
  #game #question {
    font-size: 1em;
  }
  #game button {
    padding: 6px 12px;
    font-size: 0.8em;
  }
  #game .option {
    padding: 6px;
  }
}